<div class="row">
    <div class="col-md-4">
        <h2>Product Form</h2>

        <app-product-form [newProduct]="newProduct" 
          [formButtonText]="formButtonText" 
          (onSubmit)="submitProduct($event)">
        </app-product-form>

        <p class="alert alert-primary mt-3 ml-1 mr-1" *ngIf="showMessage">Saved Successfully</p>
    </div>
    <div class="col-md-8">
      <h2>Product Form</h2>
      <input type="text" class="form-control mb-3" placeholder="search..." [(ngModel)]="searchText">

      <app-product-detail 
        [product]="p" 
        (onProductEdit)="onEdit($event)" 
        (onProductDelete)="onDelete($event)" 
        *ngFor="let p of products | searchProducts : searchText">
      </app-product-detail>
    </div>
</div>

<ng-content></ng-content>
