<h3 class="productsColor">Product Form</h3>
<h4 class="productsColor">Template Driven Form</h4>
<div class="card bg-light">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #f=ngForm>
      <div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [ngModel]="product.name" required #name="ngModel" minlength="3">
          <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
            <div *ngIf="name.errors.required">
              Name is required
            </div>
            <div *ngIf="name.errors.minlength">
              Name should contain at least {{ name.errors.minlength.requiredLength }} characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" cols="30" rows="4" id="description" name="description" [ngModel]="product.description" required #description="ngModel"></textarea>
          <div class="alert alert-danger" *ngIf="description.invalid && description.touched">Description is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" name="price" ngModel required>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="isAvailable" name="isAvailable" value="true" ngModel> Available
        </label>
      </div>
      <button name="save" type="submit" class="btn btn-primary" [disabled]="f.invalid">
        Save
      </button>
    </form>
  </div>
</div>
<div class="alert alert-success" *ngIf="showMessage">
  Product saved successfully!
</div>